* {
  margin: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #333;
}

.button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.button:hover {
  background-color: #45a049;
}

#container-hasil {
  background-color: #eee;
  padding: 10px;
  margin: 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 24px; /* Atur ukuran font ke nilai tetap atau gunakan px */
  min-width: 200px;
}

#container-hasil:hover {
  background-color: #ddd;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.button {
  flex: 1;
}

#calculator-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  margin: auto;
}
