* {
  margin: 0;
}

#calculator-container {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  column-gap: 5px;
  row-gap: 5px;
  padding: 10%;
}

#uiHasil {
  grid-column: 1 / -1;
  text-align: right;
}
